<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "style">
<script>
const SESSION_ID  = '{{session_id}}';
const PLAYER_TYPE = '{{player_type}}';

const COLORS = {
    0: '188, 151, 86',
    1: '255, 0, 0',
    2: '0, 0, 255',
    3: '80, 80, 80'
}

$.get({
    url: 'board',
    data: {session_id: SESSION_ID},
    cache: false,
}).then(board => {
    var body = document.getElementsByTagName('body')[0];
    var tbl = document.createElement('table');
    tbl.style.width = '500px';
    tbl.style.height = '500px';
    var tbdy = document.createElement('tbody');

    var tr_array = [];
    for (var i = 0; i < 5; i++) {
        var tr = document.createElement('tr');
        var td_array = [];

        for (var j = 0; j < 5; j++) {
            var td = document.createElement('td');
            var word = board[i][j]['word'];
            td.appendChild(document.createTextNode(word));

            td_array.push({
                word: word,
                td  : td,
                i   : i,
                j   : j
            });

            tr.appendChild(td)
        }
        tbdy.appendChild(tr);
        tr_array.push(td_array);
    }
    tbl.appendChild(tbdy);
    body.appendChild(tbl)

    function updateTapped(state) {
        for (i = 0; i < 5; ++i) {
            for (j = 0; j < 5; ++j) {
                var td         = tr_array[i][j].td;
                var color_code = board[i][j]['color'];
                var tapped     = state[i][j];

                if (PLAYER_TYPE === 'player') {
                    if (tapped) {
                        var rgb = 'rgb(' + COLORS[color_code] + ')';
                        td.style['backgroundColor'] = rgb;
                    } else {
                    	td.style['backgroundColor'] = 'white';
                    }
                } else if (PLAYER_TYPE == 'leader') {
                    var color = COLORS[color_code];
                    if (tapped) {
			td.style['background-color'] = 'rgba(' + color + ',.35)';
                        var grad = 'repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(' + color + ',.5) 20px, rgba(' + color + ',.5) 35px';
                        td.style['background-image'] = grad;
                        td.style['font-weight'] = 'bold';
                    } else {
                        td.style['background-color'] = 'rgb(' + color + ')';
                    }
                }
            }
        }
    }

    $.get({
        url: 'state',
        data: {session_id: SESSION_ID},
        cache: false,
    }).then(updateTapped);

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        if (PLAYER_TYPE === 'leader') {
            return;
        }

        for (i = 0; i < 5; ++i) {
            for (j = 0; j < 5; ++j) {
                var td = tr_array[i][j];
                td.td.onclick = (function makeOnClick(td) {
                    return () => {
                        if (confirm('Click `' + td.word + '`?')) {
                            socket.emit('click_event', {
                                i: td.i,
                                j: td.j,
                                session_id: SESSION_ID
                            });
                        }
                    }
                })(td);
            }
        }
    });

    socket.on('click_response', response => {
        if (response['session_id'] === SESSION_ID) {
            updateTapped(response['state']);
        }
    });
});
</script>

<body>
</body>


</html>
