<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "style">
<script>
const SESSION_ID  = '{{session_id}}';
const PLAYER_TYPE = '{{player_type}}';

const if_tapped = {
    0: 'Coral',
    1: 'red',
    2: 'blue',
    3: 'black'
}

function getColorPlayer(tapped, color) {
    if (tapped) {
        return if_tapped[color];
    } else {
        return 'white';
    }
}

function getColorLeader(tapped, color) {
    var if_not_tapped = {
        0: 'Beige',
        1: 'PaleVioletRed',
        2: 'SkyBlue',
        3: 'Gray'
    };

    if (tapped) {
        return if_tapped[color];
    } else {
        return if_not_tapped[color];
    }
}

function getColor(tapped, color) {
    if (PLAYER_TYPE === 'player') {
        return getColorPlayer(tapped, color);
    } else if (PLAYER_TYPE === 'leader') {
        return getColorLeader(tapped, color);
    } else throw ("Invalid PLAYER_TYPE === " + PLAYER_TYPE);
}


$.get({
    url: 'board',
    data: {session_id: SESSION_ID},
    cache: false,
}).then(board => {
    var body = document.getElementsByTagName('body')[0];
    var tbl = document.createElement('table');
    tbl.style.width = '500px';
    tbl.style.height = '500px';
    var tbdy = document.createElement('tbody');

    var tr_array = [];
    for (var i = 0; i < 5; i++) {
        var tr = document.createElement('tr');
        var td_array = [];

        for (var j = 0; j < 5; j++) {
            var td = document.createElement('td');
            var word = board[i][j]['word'];
            td.appendChild(document.createTextNode(word));

            td_array.push({
                word: word,
                td  : td,
                i   : i,
                j   : j
            });

            tr.appendChild(td)
        }
        tbdy.appendChild(tr);
        tr_array.push(td_array);
    }
    tbl.appendChild(tbdy);
    body.appendChild(tbl)

    function updateTapped(state) {
        for (i = 0; i < 5; ++i) {
            for (j = 0; j < 5; ++j) {
                var td     = tr_array[i][j].td;
                var color  = board[i][j]['color'];
                var tapped = state[i][j];

                td.style.backgroundColor = getColor(tapped, color);

                if ((PLAYER_TYPE === 'leader') && (tapped)) {
                    td.style['font-weight'] = 'bold';
                    td.style['border'] = '5px solid black';
                }
            }
        }
    }

    $.get({
        url: 'state',
        data: {session_id: SESSION_ID},
        cache: false,
    }).then(updateTapped);

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function() {
        if (PLAYER_TYPE === 'leader') {
            return;
        }

        for (i = 0; i < 5; ++i) {
            for (j = 0; j < 5; ++j) {
                var td = tr_array[i][j];
                td.td.onclick = (function makeOnClick(td) {
                    return () => {
                        if (confirm('Click `' + td.word + '`?')) {
                            socket.emit('click_event', {
                                i: td.i,
                                j: td.j,
                                session_id: SESSION_ID
                            });
                        }
                    }
                })(td);
            }
        }
    });

    socket.on('click_response', updateTapped);
});
</script>

<body>
</body>


</html>
