<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "style">
<script>
const SESSION_ID  = '{{session_id}}';
const PLAYER_TYPE = '{{player_type}}';

const if_tapped = {
    0: 'Coral',
    1: 'red',
    2: 'blue',
    3: 'black'
}

function getColorPlayer(tapped, color) {
    if (tapped) {
        return if_tapped[color];
    } else {
        return 'white';
    }
}

function getColorLeader(tapped, color) {
    var if_not_tapped = {
        0: 'Beige',
        1: 'PaleVioletRed',
        2: 'SkyBlue',
        3: 'Gray'
    };

    if (tapped) {
        return if_tapped[color];
    } else {
        return if_not_tapped[color];
    }
}

function getColor(tapped, color) {
    if (PLAYER_TYPE === 'player') {
        return getColorPlayer(tapped, color);
    } else if (PLAYER_TYPE === 'leader') {
        return getColorLeader(tapped, color);
    } else throw ("Invalid PLAYER_TYPE === " + PLAYER_TYPE);
}


$.get({
    url: 'state',
    data: {session_id: SESSION_ID},
    cache: false,
}).then(state => {
    var body = document.getElementsByTagName('body')[0];
    var tbl = document.createElement('table');
    tbl.style.width = '500px';
    tbl.style.height = '500px';
    tbl.setAttribute('border', '1');
    var tbdy = document.createElement('tbody');

    for (var i = 0; i < 5; i++) {
        var tr = document.createElement('tr');
        for (var j = 0; j < 5; j++) {
            var td = document.createElement('td');

            data = state[i][j];

            td.appendChild(document.createTextNode(data['word']));

            var color = getColor(data['tapped'], data['color']);
            td.style.backgroundColor = color;
            if (PLAYER_TYPE === 'player') {
                td.onclick = (function makeOnClick(word, i, j) {
                    return () => {
                        if (confirm('Click `' + word + '`?')) {
                            $.get({
                                url: 'click/' + i + '/' + j,
                                data: {session_id: SESSION_ID}
                            });
                        }
                    }
                })(data['word'], i, j);
            }

            tr.appendChild(td)
        }
        tbdy.appendChild(tr);
    }
    tbl.appendChild(tbdy);
    body.appendChild(tbl)

});
</script>
<!-- <script src="script"></script> -->

<body>
</body>


</html>
